*, ::after, ::before { padding: 0; margin: 0; box-sizing: border-box; }

html { font-size: 62,5%; }

body { font-family: "Roboto"; font-weight: 400; color: #777777; font-size: 16px; letter-spacing: .2rem; padding: 50px; background: #FFFFFF; }

.container { background: #F7F7F7; }

.header { position: relative; height: 95vh; background: linear-gradient(90deg, rgba(186, 133, 84, 0.7) 0.03%, rgba(1, 1, 1, 0.7) 99.94%), url(../img/header_img.jpg) center/cover no-repeat; clip-path: polygon(0 0, 100% 0, 100% 98%, 0 82%); }

.header__logo { position: absolute; top: 50px; left: 50px; height: 70px; width: 56px; }

.header__box { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%; text-align: center; }

.title-first { color: #FFFFFF; margin-bottom: 50px; }

.title-first__main { display: block; font-size: 50px; text-transform: uppercase; line-height: 60px; letter-spacing: 10px; font-weight: 800; margin-bottom: 10px; animation-name: RightToLeft; animation-duration: 5s; animation-iteration-count: infinite; }

.title-first__secondary { font-weight: 100; font-size: 40px; letter-spacing: 5px; line-height: 48px; transform: rotate(0.5turn); animation-name: LeftToRight; animation-duration: 3%; }

.btn:link, .btn:visited { text-transform: uppercase; text-decoration: none; color: #777777; padding: 15px 40px; background: #FFFFFF; border-radius: 50px; display: inline-block; position: relative; font-size: 20px; }

@keyframes RightToLeft { 0% { opacity: 0;
    transform: translate(100px); }
  80% { transform: translate(-20px); }
  100% { opacity: 1;
    transform: translate(0);
    transform: rotatex(0); } }

@keyframes LeftToRight { 0% { opacity: 0;
    transform: translate(-100px); }
  80% { transform: translate(20px); }
  100% { opacity: 1;
    transform: translate(0); } }
